@charset "UTF-8";
/*  
quando for usar id é #
quando for usar class é .
*/



body{
  background-color: rgb( 205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;


}

h1{
  color: rgb(19, 66, 43);
}

h1#principal{
  text-align: center;
  background-color: rgb(11, 99, 55);
  color: rgb(185, 185, 155);
  text-decoration: overline rgb(25, 170, 25);
}

h2{
  color: rgb(40, 70, 39);;
}

.facil{
  color: rgb(80, 129, 78)}

.medio{
  color: rgb(138, 153, 85)
}

.dificil{
  color: rgb(134, 71, 71)
}